body{
	background-image: url("../images/siteBgMin.png");
}

.logoContainer {
	height: 420px;
	width: 100%;
	background-image: url("../images/headerBgMin.png");
	text-align: center;
}

.logoContainer img {
	padding-top: 48px;
}

.navContainer {
	
}

.site-nav {
	margin: 0 auto;
	background-color: #79F7FF;
	width: 100%;
	text-align: center;
}

#search-demo-container {
	position: absolute;
	display: inline-block;
	max-width: 400px;
	right: 25px;
	top: 5px;
}
#search-input {
	display: inline-block;
	padding: .5em;
	width: 100%;
	font-size: 0.8em;
}

.home-content {
	
	margin: 0 auto;
	width: 80%;
}

.mBlogsContainer {
	text-align: center;
}

.mBlog {
	margin: 0 auto;
	width: 45%;
	display: inline-block;
	text-align: left;
	vertical-align: top;
}

.mFashionContainer {
	text-align: center;
}

.mFashion {
	margin: 0 auto;
	width: 30%;
	display: inline-block;
	text-align: left;
	vertical-align: top;
}

.mMiscContainer {
	text-align: center;
}

.mMisc {
	margin: 0 auto;
	width: 45%;
	display: inline-block;
	text-align: left;
	vertical-align: top;
}

.blogArch{
	text-decoration: none;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.blogArch li{
	margin-left: 20px;
}

/* Rounded avatars */
.circleAvatar {
	display: inline-block;
    margin-top: 1em;
    margin-right: 1em;
	margin-left: 6px;
    position: relative;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}

.topBorderImg {
	margin: 0 auto;
	display: block;
	padding-top: 40px;
	padding-bottom: 80px;
}

.postDesc {
	display: inline-block;
	font-size: 16px;
    color: #828282;
	margin-left: 10px;
	padding-top: 20px;
}

.post-header {
}

.blogEmoji {
	display: inline;
}

.blogLayout {
	width: 60%;
	margin: 0 auto;
}

.blogLayout p {

}

.blogPage {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}


.leftColumn {
	max-width: 30%;
	display: inline-block;
	text-align: left;
	padding-right: 30px;
	vertical-align: top;
}

.rightColumn {
	width: 65%;
	display: inline-block;
	text-align: left;
}

.page-link {
	padding-left: 40px;
	padding-right: 40px;
	margin: 0 auto;
	color: #FFFFFF;
}

.page-content {
	margin: 0 auto;
	width: 70%;
	background-color: #FFFFFF;
	
}

.site-footer {
	background-color: #79F7FF;
	width: 100%;
}

@media (max-width: 1440px) {
	.page-content {
		width: 90%;
	}
	.home-contet {
		width: 95%;
	}
}

@media (max-width: 1024px) {
	.blogLayout {
		width: 75%;
	}
}