<ul class="fashionCatalog">
	
	<li class="fashionCatMain">All</li>
	
	<li class="fashionCatMain">Top</li>
	<li>Blouse</li>
	<li>Long Sleeve</li>
	<li>T-Shirt</li>
	<li>Sweater</li>
	<li>Crop</li>
	<li>Tank</li>
	<li>Button-up</li>
	
	<li class="fashionCatMain">Bottom</li>
	<li>Short</li>
	<li>Maxi Skirt</li>
	<li>Mini Skirt</li>
	<li>Skirt/Skater</li>
	<li>Legging</li>
	<li>Jean</li>
	
	<li class="fashionCatMain">Dress</li>
	<li>Maxi</li>
	<li>Lace</li>
	<li>Sun</li>
	<li>Mini</li>
	<li>Strap</li>
	<li>General</li>
	
	<li class="fashionCatMain">Sock</li>
	<li>Boat shape</li>
	<li>Low cut</li>
	<li>Mid-length</li>
	<li>Knee-length</li>
	<li>Over the knee</li>
	<li>Tight/Pantyhose</li>
	
	<li class="fashionCatMain">Shoes</li>
	<li>Boot(Knee->Low)</li>
	<li>Boot(Knee->Over)</li>
	<li>Shoes/Converse</li>
	<li>Flats</li>
	<li>Mary Janes</li>
	<li>Heel/Wedge</li>
</ul>