<div class="miniMisc">
	<h1>Recent misc:</h1>
	<div class="mMiscContainer">
		{% assign counter=0 %}
		{% for post in site.posts %}
			{% if post.title and post.categories contains "misc" and counter < 2 %}
			{% assign counter=counter | plus:1 %}
				<div class ="mMisc">
					<a class="mMiscLink" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
					<p class="mMiscDesc"> Posted: {{ post.date}} by Jacqueline
					<p class="mMiscDesc"> Tags: {{ post.tags}}
					<p class="mMiscExcerpt"> {{ post.excerpt}}
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>