<div class="miniBlogs">
	<h1>Recent blogs:</h1>
	<div class="mBlogsContainer">
		{% assign counter=0 %}
		{% for post in site.posts %}
			{% if post.title and post.categories contains "blogs" and counter < 2 %}
			{% assign counter=counter | plus:1 %}
				<div class ="mBlog">
					<a class="mBlogLink" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
					<p class="mBlogDesc"> Posted: <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time> by Jacqueline
					<p class="mBlogDesc"> Tags: {{ post.categories}} 
					<p class="mBlogExcerpt"> {{ post.excerpt}}
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>